{% extends 'user_settings/user_setting_base.html' %}

{% block user_profile_content %}
<!--Begin:: App Content-->
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
	<div class="row">
		<div class="col-xl-12">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">Account Information <small>change your account settings</small></h3>
					</div>
				</div>
				<form class="kt-form kt-form--label-right">
					<div class="kt-portlet__body">
						<div class="kt-section kt-section--first">
							<div class="kt-section__body">
								<div class="row">
									<label class="col-xl-3"></label>
									<div class="col-lg-9 col-xl-6">
										<h3 class="kt-section__title kt-section__title-sm">Account:</h3>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Username</label>
									<div class="col-lg-9 col-xl-6">
										<div class="kt-spinner kt-spinner--sm kt-spinner--success kt-spinner--right kt-spinner--input">
											<input class="form-control" type="text" value="nick84">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
									<div class="col-lg-9 col-xl-6">
										<div class="input-group">
											<div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
											<input type="text" class="form-control" value="nick.watson@loop.com" placeholder="Email" aria-describedby="basic-addon1">
										</div>
										<span class="form-text text-muted">Email will not be publicly displayed. <a href="#" class="kt-link">Learn more</a>.</span>
									</div>
								</div>
								<div class="row">
									<label class="col-xl-3"></label>
									<div class="col-lg-9 col-xl-6">
										<h3 class="kt-section__title kt-section__title-sm">Nominee Details</h3>
									</div>
								</div>
								<div id="kt_repeater_1">
									<div class="form-group form-group-last row" id="kt_repeater_1">
										<label class="col-lg-2 col-form-label">Contacts:</label>
										<div data-repeater-list="" class="col-lg-10">
											<div data-repeater-item class="form-group row align-items-center">
												<div class="col-md-3">
													<div class="kt-form__group--inline">
														<div class="kt-form__label">
															<label>Name:</label>
														</div>
														<div class="kt-form__control">
															<input type="text" class="form-control" placeholder="Enter full name">
														</div>
													</div>
													<div class="d-md-none kt-margin-b-10"></div>
												</div>
												<div class="col-md-3">
													<div class="kt-form__group--inline">
														<div class="kt-form__label">
															<label class="kt-label m-label--single">Number:</label>
														</div>
														<div class="kt-form__control">
															<input type="text" class="form-control" placeholder="Enter contact number">
														</div>
													</div>
													<div class="d-md-none kt-margin-b-10"></div>
												</div>
												<div class="col-md-2">
													<div class="kt-radio-inline">
														<label class="kt-checkbox kt-checkbox--state-success">
															<input type="checkbox"> Primary
															<span></span>
														</label>
													</div>
												</div>
												<div class="col-md-4">
													<a href="javascript:;" data-repeater-delete="" class="btn-sm btn btn-label-danger btn-bold">
														<i class="la la-trash-o"></i>
														Delete
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="form-group form-group-last row">
										<label class="col-lg-2 col-form-label"></label>
										<div class="col-lg-4">
											<a href="javascript:;" data-repeater-create="" class="btn btn-bold btn-sm btn-label-brand">
												<i class="la la-plus"></i> Add
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="kt-separator kt-separator--border-dashed kt-separator--portlet-fit kt-separator--space-lg"></div>
						<div class="kt-section kt-section--first">
							<div class="kt-section__body">
								<div class="row">
									<label class="col-xl-3"></label>
									<div class="col-lg-9 col-xl-6">
										<h3 class="kt-section__title kt-section__title-sm">Security:</h3>
									</div>
								</div>
								<div class="form-group row kt-margin-t-10 kt-margin-b-10">
									<label class="col-xl-3 col-lg-3 col-form-label"> Deactivate Account</label>
									<div class="col-lg-9 col-xl-6">
										<button type="button" class="btn btn-label-danger btn-bold btn-sm kt-margin-t-5 kt-margin-b-5">Deactivate your account ?</button>
										<span class="form-text text-muted">
											After Deactivation Of Your Account We can Store Data Till 12 Days Frome the date of deactivetion. if you change your mind then relogin within the 12 days and again activate your account
											<a href="#" class="kt-link">Learn more</a>.
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-3 col-xl-3">
								</div>
								<div class="col-lg-9 col-xl-9">
									<button type="reset" class="btn btn-success">Submit</button>&nbsp;
									<button type="reset" class="btn btn-secondary">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--End:: App Content-->
</div>
{% endblock user_profile_content %}
