{% extends 'user_settings/user_setting_base.html' %}

{% block user_profile_content %}

<!--Begin:: App Content-->
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
	<div class="row">
		<div class="col-xl-12">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">Personal Information <small>update your personal information</small></h3>
					</div>
					<div class="kt-portlet__head-toolbar">
						<div class="kt-portlet__head-wrapper">
							<div class="dropdown dropdown-inline">
								<button type="button" class="btn btn-label-brand btn-sm btn-icon btn-icon-md" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="flaticon2-gear"></i>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<ul class="kt-nav">
										<li class="kt-nav__section kt-nav__section--first">
											<span class="kt-nav__section-text">Export Tools</span>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-print"></i>
												<span class="kt-nav__link-text">Print</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-copy"></i>
												<span class="kt-nav__link-text">Copy</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-file-excel-o"></i>
												<span class="kt-nav__link-text">Excel</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-file-text-o"></i>
												<span class="kt-nav__link-text">CSV</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-file-pdf-o"></i>
												<span class="kt-nav__link-text">PDF</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<form class="kt-form kt-form--label-right" action="{% url 'Users:personal_information' %}" method="post" enctype="multipart/form-data">
					 {% csrf_token %}
					<div class="kt-portlet__body">
						<div class="kt-section kt-section--first">
							<div class="kt-section__body">
								<div class="row">
									<label class="col-xl-3"></label>
									<div class="col-lg-9 col-xl-6">
										<h3 class="kt-section__title kt-section__title-sm">Personal Info</h3>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Avatar</label>
									<div class="col-lg-9 col-xl-6">
										<div class="kt-avatar kt-avatar--outline kt-avatar--circle" id="kt_apps_user_add_avatar">
											<div class="kt-avatar__holder" style=""></div>
											<label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
												<i class="fa fa-pen"></i>
												<input type="file" name="image" accept=".png, .jpg, .jpeg">
											</label>
											<span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
												<i class="fa fa-times"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">First Name</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="{{Fname}}" name="Fname">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Last Name</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="{{Lname}}" name="Lname">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Username</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="" name="Uname">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Date Of Birth</label>
									<div class="col-lg-9 col-xl-6">
										<div class="input-group date">
											<input type="text" class="form-control" readonly value="" id="kt_datepicker_3" name="DOB"/>
											<div class="input-group-append">
												<span class="input-group-text">
													<i class="la la-calendar"></i>
												</span>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Gender </label>
									<div class="col-lg-9 col-xl-6">
										<div class="kt-radio-inline">
											<label class="kt-radio">
												<input type="radio" name="Gender" value="male"> Male
												<span></span>
											</label>
											<label class="kt-radio">
												<input type="radio" name="Gender" value="femal"> Female
												<span></span>
											</label>
											<label class="kt-radio">
												<input type="radio" name="Gender" value="other"> Other
												<span></span>
											</label>
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
									<div class="col-lg-9 col-xl-6">
										<div class="input-group">
											<div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
											<input type="text" class="form-control" value="" placeholder="Phone" aria-describedby="basic-addon1" name="Phone_no">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
									<div class="col-lg-9 col-xl-6">
										<div class="input-group">
											<div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
											<input type="text" class="form-control" value="{{Email}}" placeholder="Email" aria-describedby="basic-addon1" name="">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Address LIne1</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="" name="Add_line1">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Address LIne2</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="" name="Add_line2">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">City</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="" name="City">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">State/Province/Region</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="" name="State">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Zip/Postal Code</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="" name="Postal_Code">
									</div>
								</div>
							</div>
						</div>
					</div>
					{{msg}}
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-3 col-xl-3">
								</div>
								<div class="col-lg-9 col-xl-9">
									<button type="submit" class="btn btn-success">Submit</button>&nbsp;
									<button type="reset" class="btn btn-secondary">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--End:: App Content-->
</div>
{% endblock user_profile_content %}
