{% extends 'base.html' %}
{% load static %}
{% block title %} Insurance Claim Process {% endblock title %}

{% block content %}

<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title">
			Insurance </h3>
		<span class="kt-subheader__separator kt-hidden"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="{% url 'Main:user_dashbord' %}" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a  class="kt-subheader__breadcrumbs-link">
				Claim Process</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a href="{% url 'Insurance:process_insurance' %}" class="kt-subheader__breadcrumbs-link">
				Process Insurance</a>
			<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
		</div>
	</div>
</div>

<!-- end:: Content Head -->

<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="kt-portlet ">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Claim Insurance
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">
			<form class="kt-form" id="kt_form">
			<div class="row">
				<div class="col-xl-2"></div>
				<div class="col-xl-8">
					<div class="kt-section kt-section--first">
						<div class="kt-section__body">
							<h3 class="kt-section__title kt-section__title-lg">Insurance Details</h3>
							<div class="form-group row">
								<label class="col-3 col-form-label">ID</label>
								<div class="col-9">
									<input class="form-control"  type="text"  required>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-3 col-form-label">Insurance ID </label>
								<div class="col-9">
									<input class="form-control"  type="text" required>
								</div>
							</div>
							<div class="form-group row ">
								<label class="col-3 col-form-label">Select Your Agent</label>
								<div class="col-9">
									<select class="custom-select form-control" required>
										<option selected>Select</option>
										<option value="1">Agent 1 </option>
										<option value="2">Agent 2</option>
										<option value="3">Agent 3</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-3 col-form-label">Upload Document</label>
								<div class="col-9" >
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="customFile" required>
										<label class="custom-file-label" for="customFile">Choose file</label>
									</div>
								</div>
							</div>
							<div class="kt-portlet__foot">
									<div class= "btn-a" >
										<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#kt_modal_1"> Submit</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<div class="modal fade" id="kt_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						</button>
					</div>
					<div class="modal-body">
						<p class="text-muted mb-0">
							Your Information is Share With Our Agents. Our Agent Will Call You In Same Time.
							Information About Our Agents Is Given Below
							<h5>INFO</h5>
							<span></span>
							<dl class="row mb-0">
								<dt class="col-sm-5">Agent ID: </dt>
								<dd class="col-sm-7">#156151</dd>
								<dt class="col-sm-5">Agent Name:</dt>
								<dd class="col-sm-7">Shubham Kedare</dd>
								<dt class="col-sm-5">Contact No:</dt>
								<dd class="col-sm-7">8830510916</dd>
								<dt class="col-sm-5 text-truncate">Email Id:</dt>
								<dd class="col-sm-7">twowheelercse@gmail.com</d>
							</dl>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-success btn-custom" id="kt_sweetalert_demo_3_3"> Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- end:: Content -->
</div>
{% endblock content %}
