{% extends 'base.html' %} {% load static %} {% block content %}

<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
  <!-- begin:: Content Head -->
  <div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">Live Tracking</h3>
      <span class="kt-subheader__separator kt-hidden"></span>
      <div class="kt-subheader__breadcrumbs">
        <a
          href="{% url 'Main:user_dashbord' %}"
          class="kt-subheader__breadcrumbs-home"
          ><i class="flaticon2-shelter"></i
        ></a>
        <span class="kt-subheader__breadcrumbs-separator"></span>
        <a
          href="{% url 'Tracking:live_tracking' %}"
          class="kt-subheader__breadcrumbs-link"
        >
          Live Tracking</a
        >
        <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!-- begin:: Content -->
  <div class="kt-content kt-grid__item kt-grid__item--fluid" id="kt_content">
    <div class="row">
      <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--tab">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon kt-hidden">
                <i class="la la-gear"></i>
              </span>
              <h3 class="kt-portlet__head-title">MAP</h3>
            </div>
          </div>
          <div class="kt-portlet__body">
            <form class="kt-margin-b-20" action="#">
              <div class="form-group row">
                <div class="col-lg-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="la la-map-marker"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Your Location"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="la la-map-marker"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Destination"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <button
                    type="button"
                    class="btn btn-brand btn-elevate btn-circle btn-icon"
                  >
                    <i class="flaticon-search"></i></button
                  >&nbsp;
                </div>
              </div>
            </form>
            <!-- <div id="kt_gmap_8" style="height:300px;">
															</div> -->
            {% comment %} actual location module {% endcomment %}
            <div style="width: 100%">
              <iframe
                width="100%"
                height="600"
                src="{% static 'maps.html' %}"
                frameborder="0"
                scrolling="no"
                marginheight="0"
                marginwidth="0"
                ><a href="https://www.maps.ie/draw-radius-circle-map/"
                  >km radius map</a
                ></iframe
              >
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
    <!-- end:: Content -->
  </div>

  {% endblock content %}
</div>
