{% extends 'base.html' %}

{% block content %}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

	<!-- begin:: Subheader -->
	<div class="kt-subheader   kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
			<h3 class="kt-subheader__title">
				Tracking History</h3>
			<span class="kt-subheader__separator kt-hidden"></span>
			<div class="kt-subheader__breadcrumbs">
				<a href="{% url 'Main:user_dashbord' %}" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a  class="kt-subheader__breadcrumbs-link">
					Live Tracking</a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a href="{% url 'Tracking:tracking_history' %}" class="kt-subheader__breadcrumbs-link">
					Tracking History </a>
				<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
			</div>
		</div>

	</div>

	<!-- end:: Subheader -->

	<!-- begin:: Content -->
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

		<div class="kt-portlet kt-portlet--mobile">
			<div class="kt-portlet__head kt-portlet__head--lg">
				<div class="kt-portlet__head-label">
					<span class="kt-portlet__head-icon">
						<i class="kt-font-brand flaticon-map-location"></i>
					</span>
					<h3 class="kt-portlet__head-title">
						TRAVALING HISTORY
					</h3>
				</div>
				<div class="kt-portlet__head-toolbar">
					<div class="kt-portlet__head-wrapper">
						<div class="kt-portlet__head-actions">
							<div class="dropdown dropdown-inline">
								<button type="button" class="btn btn-default btn-icon-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="la la-download"></i> Export
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<ul class="kt-nav">
										<li class="kt-nav__section kt-nav__section--first">
											<span class="kt-nav__section-text">Choose an option</span>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-print"></i>
												<span class="kt-nav__link-text">Print</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-copy"></i>
												<span class="kt-nav__link-text">Copy</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-file-excel-o"></i>
												<span class="kt-nav__link-text">Excel</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-file-text-o"></i>
												<span class="kt-nav__link-text">CSV</span>
											</a>
										</li>
										<li class="kt-nav__item">
											<a href="#" class="kt-nav__link">
												<i class="kt-nav__link-icon la la-file-pdf-o"></i>
												<span class="kt-nav__link-text">PDF</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
							&nbsp;
						</div>
					</div>
				</div>
			</div>
			<div class="kt-portlet__body">

				<!--begin: Search Form -->
				<div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
					<div class="row align-items-center">
						<div class="col-xl-8 order-2 order-xl-1">
							<div class="row align-items-center">
								<div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-input-icon kt-input-icon--left">
										<input type="text" class="form-control" placeholder="Search..." id="generalSearch">
										<span class="kt-input-icon__icon kt-input-icon__icon--left">
											<span><i class="la la-search"></i></span>
										</span>
									</div>
								</div>
								<!--div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group kt-form__group--inline">
										<div class="kt-form__label">
											<label>Status:</label>
										</div>
										<div class="kt-form__control">
											<select class="form-control bootstrap-select" id="kt_form_status">
												<option value="">All</option>
												<option value="1"></option>
												<option value="2">Delivered</option>
												<option value="3">Canceled</option>
												<option value="4">Success</option>
												<option value="5">Info</option>
												<option value="6">Danger</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
									<div class="kt-form__group kt-form__group--inline">
										<div class="kt-form__label">
											<label>Type:</label>
										</div>
										<div class="kt-form__control">
											<select class="form-control bootstrap-select" id="kt_form_type">
												<option value="">All</option>
												<option value="1">Online</option>
												<option value="2">Retail</option>
												<option value="3">Direct</option>
											</select>
										</div>
									</div>
								</div-->
							</div>
						</div>
					</div>
				</div>

				<!--end: Search Form -->
			</div>
			<div class="kt-portlet__body kt-portlet__body--fit">

				<!--begin: Datatable -->
				<table class="kt-datatable" id="html_table" width="100%">
					<thead>
						<tr>
							<th title="Field #1">#</th>
							<th title="Field #2">SOURCE </th>
							<th title="Field #3">DESTINATION</th>
							<th title="Field #4">TIME</th>
							<th title="Field #5">DATE</th>
							<th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>mit</td>
							<td>cidco</td>
							<td>5.30</td>
							<td>2016-11-28</td>

						</tr>
						<tr>
							<td>2</td>
							<td>mit</td>
							<td>cidco</td>
							<td>6.30</td>
							<td>2017-04-29</td>


						</tr>
						<tr>
							<td>3</td>
							<td>mit</td>
							<td>cidco</td>
							<td>10</td>

							<td>2017-03-16</td>


						</tr>
						<tr>
							<td>4</td>
							<td>mit</td>
							<td>cidco</td>
							<td>10</td>

							<td>2016-09-04</td>


						</tr>
						<tr>
							<td>5</td>
							<td>mit</td>
							<td>cidco</td>
							<td>9</td>

							<td>2017-09-21</td>


						</tr>
						<tr>
							<td>6</td>
							<td>mit</td>
							<td>cidco</td>
							<td>8</td>

							<td>2017-04-03</td>


						</tr>
						<tr>
							<td>7</td>
							<td>mit</td>
							<td>cidco</td>
							<td>9</td>

							<td>2016-03-22</td>


						</tr>
						<tr>
							<td>8</td>
							<td>mit</td>
							<td>cidco</td>
							<td>12</td>

							<td>2016-04-17</td>


						</tr>
						<tr>
							<td>9</td>
							<td>mit</td>
							<td>cidco</td>
							<td>10</td>

							<td>2016-05-27</td>


						</tr>

						<tr>
							<td>10</td>
							<td>mit</td>
							<td>cidco</td>
							<td>5</td>

							<td>2016-06-21</td>


						</tr>
						<tr>
							<td>11</td>
							<td>mit</td>
							<td>cidco</td>
							<td>5</td>

							<td>2016-05-06</td>


						</tr>
						<tr>
							<td>12</td>
							<td>mit</td>
							<td>cidco</td>
							<td>1</td>

							<td>2017-08-17</td>


						</tr>
						<tr>
							<td>13</td>
							<td>mit</td>
							<td>cidco</td>
							<td>10</td>

							<td>2016-09-01</td>


						</tr>
						<tr>
							<td>14</td>
							<td>mit</td>
							<td>cidco</td>
							<td>9</td>

							<td>2016-05-17</td>


						</tr>
						<tr>
							<td>15</td>
							<td>mit</td>
							<td>cidco</td>
							<td>6</td>

							<td>2016-01-10</td>


						</tr>
						<tr>
							<td>16</td>
							<td>mit</td>
							<td>cidco</td>
							<td>7</td>

							<td>2017-07-31</td>


						</tr>
						<tr>
							<td>17</td>
							<td>mit</td>
							<td>cidco</td>
							<td>5</td>

							<td>2017-02-10</td>


						</tr>
						<tr>
							<td>18</td>
							<td>mit</td>
							<td>cidco</td>
							<td>6</td>

							<td>2016-06-01</td>


						</tr>
						<tr>
							<td>19</td>
							<td>mit</td>
							<td>cidco</td>
							<td>7</td>

							<td>2016-12-16</td>


						</tr>
						<tr>
							<td>20</td>
							<td>mit</td>
							<td>cidco</td>
							<td>5</td>

							<td>2017-06-02</td>


						</tr>
						<tr>
							<td>21</td>
							<td>mit</td>
							<td>cidco</td>
							<td>12</td>

							<td>2017-12-17</td>


						</tr>
						<tr>
							<td>22</td>
							<td>mit</td>
							<td>cidco</td>
							<td>6</td>

							<td>2016-07-23</td>


						</tr>
						<tr>
							<td>23</td>
							<td>mit</td>
							<td>cidco</td>
							<td>12</td>

							<td>2016-03-14</td>


						</tr>
						<tr>
							<td>24</td>
							<td>mit</td>
							<td>cidco</td>
							<td>12</td>

							<td>2016-12-12</td>


						</tr>
						<tr>
							<td>25</td>
							<td>mit</td>
							<td>cidco</td>
							<td>10</td>

							<td>2017-01-11</td>


						</tr>
						<tr>
							<td>26</td>
							<td>mit</td>
							<td>cidco</td>
							<td>13</td>

							<td>2017-10-27</td>


						</tr>
						<tr>
							<td>27</td>
							<td>mit</td>
							<td>cidco</td>
							<td>10</td>

							<td>2016-09-20</td>


						</tr>
						<tr>
							<td>28</td>
							<td>mit</td>
							<td>cidco</td>
							<td>15</td>

							<td>2017-11-23</td>


						</tr>
						<tr>
							<td>29</td>
							<td>mit</td>
							<td>cidco</td>
							<td>9</td>

							<td>2017-10-28</td>


						</tr>
						<tr>
							<td>30</td>
							<td>mit</td>
							<td>cidco</td>
							<td>10</td>

							<td>2017-01-21</td>


						</tr>
					</tbody>
				</table>

				<!--end: Datatable -->
			</div>
		</div>
	</div>

	<!-- end:: Content -->
</div>

{% endblock content %}
