<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div clas="Heading">
    <h1>Two Wheeler Tracking and Accident Detection System</h1>
    </div>
    <hr>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a href="signup/">signup</a>
                </li>
                <li>
                    <a href="login/">login</a>
                </li>
                <li>
                    <a href="/TWTADS/templates/features.html">features</a>
                </li>
                <li>
                    <a href="/TWTADS/templates/help.html">Help</a>
                </li>
                <li>
                    <a href="ContactUs.html">ContactUs</a>
                </li>
            </ul>
        </nav>
    </div>

</body>
</html>