{% extends 'base.html' %}

{% block content %}
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title">
			Live Tracking </h3>
		<span class="kt-subheader__separator kt-hidden"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="{% url 'Main:user_dashbord' %}" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a  class="kt-subheader__breadcrumbs-link">
				Devices</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a href="{% url 'Tracking:all_devices' %}" class="kt-subheader__breadcrumbs-link">
				All Devices</a>
			<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
		</div>
	</div>
</div>

<!-- end:: Content Head -->

<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="kt-portlet ">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">
						Attached Device
					</h3>
				</div>
			</div>
			<div class="kt-portlet__body">

				<!--begin::Accordion-->
				<div class="accordion accordion-solid accordion-toggle-plus" id="accordionExample6">
					<div class="card">
						<div class="card-header" id="headingOne6">
							<div class="card-title" data-toggle="collapse" data-target="#collapseOne6" aria-expanded="true" aria-controls="collapseOne6">
								<i class="flaticon-responsive"></i> Device 1
							</div>
						</div>
						<div id="collapseOne6" class="collapse show" aria-labelledby="headingOne6" data-parent="#accordionExample6">
							<div class="card-body">
								<p class="text-muted mb-0">
									<dl class="row mb-0">
										<dt class="col-sm-5">DEVICE NAME</dt>
										<dd class="col-sm-7">MI Note 6 Pro</dd>
										<dt class="col-sm-5">DEVICE NO</dt>
										<dd class="col-sm-7">IMMI21654146511</dd>
										<dt class="col-sm-5">VALID TILL</dt>
										<dd class="col-sm-7">10/08/2021</dd>
										<dt class="col-sm-5 text-truncate">PACKAGE</dt>
										<dd class="col-sm-7">Silver</d>
									</dl>
								</p>
							</div>
							<!--div id="collapseOne6" class="collapse" aria-labelledby="headingOne6" data-parent="#accordionExample6">
								<div class="card-footer">
									<a class="btn btn-label-brand btn-bold btn-sm" href="#">Add Device</a>
								</div>
							</div-->
						</div>
					</div>
					<!--div class="card">
						<div class="card-header" id="headingTwo6">
							<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseTwo6" aria-expanded="false" aria-controls="collapseTwo6">
								<i class="flaticon-responsive"></i> Device 2
							</div>
						</div>
						<div id="collapseTwo6" class="collapse" aria-labelledby="headingTwo6" data-parent="#accordionExample6">
							<div class="card-body">
								<p class="text-muted mb-0">
									<dl class="row mb-0">
										<dt class="col-sm-5">DEVICE NAME</dt>
										<dd class="col-sm-7">MI Note 8 Pro</dd>
										<dt class="col-sm-5">DEVICE NO</dt>
										<dd class="col-sm-7">IMMI21654146511</dd>
										<dt class="col-sm-5">VALID TILL</dt>
										<dd class="col-sm-7">10/08/2021</dd>
										<dt class="col-sm-5 text-truncate">PACKAGE</dt>
										<dd class="col-sm-7">Gold</d>
									</dl>
								</p>
							</div>
						</div>
					</div>
					<div class="card">
						<div class="card-header" id="headingThree6">
							<div class="card-title collapsed" data-toggle="collapse" data-target="#collapseThree6" aria-expanded="false" aria-controls="collapseThree6">
								<i class="flaticon-responsive"></i> Device 3
							</div>
						</div>
						<div id="collapseThree6" class="collapse" aria-labelledby="headingThree6" data-parent="#accordionExample6">
							<div class="card-body">
								<p class="text-muted mb-0">
									<dl class="row mb-0">
										<dt class="col-sm-5">DEVICE NAME</dt>
										<dd class="col-sm-7">MI Note 10 Pro</dd>
										<dt class="col-sm-5">DEVICE NO</dt>
										<dd class="col-sm-7">IMMI21654146511</dd>
										<dt class="col-sm-5">VALID TILL</dt>
										<dd class="col-sm-7">10/08/2021</dd>
										<dt class="col-sm-5 text-truncate">PACKAGE</dt>
										<dd class="col-sm-7">Basic</d>
									</dl>
								</p>
							</div>
							<div id="collapseThree6" class="collapse" aria-labelledby="headingThree6" data-parent="#accordionExample6">
								<div class="card-footer">
									<a class="btn btn-label-brand btn-bold btn-sm" href="#">Add Device</a>
								</div>
							</div>

						</div>
					</div-->
				</div>

				<!--end::Accordion-->
			</div>
		</div>
		</div>
<!-- end:: Content -->
</div>

{% endblock content %}
