{% extends 'base.html' %}

{% block content %}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

	<!-- begin:: Subheader -->
	<div class="kt-subheader   kt-grid__item" id="kt_subheader">
		<div class="kt-subheader__main">
			<h3 class="kt-subheader__title">
				Attach New Device </h3>
			<span class="kt-subheader__separator kt-hidden"></span>
			<div class="kt-subheader__breadcrumbs">
				<a href="user_dash/user_dashbord.html" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a  class="kt-subheader__breadcrumbs-link">
					Live Tracking </a>
				<span class="kt-subheader__breadcrumbs-separator"></span>
				<a  class="kt-subheader__breadcrumbs-link">
					Devices </a>
					<span class="kt-subheader__breadcrumbs-separator"></span>
				<a href="user_dash/live_tracking/devices/attached_new.html" class="kt-subheader__breadcrumbs-link">
					Attach New Device </a>

				<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
			</div>
		</div>
	</div>

	<!-- end:: Subheader -->

	<!-- begin:: Content -->
	<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

		<!--begin::Portlet-->
		<div class="kt-portlet">
			<div class="kt-portlet__body kt-portlet__body--fit">
				<div class="kt-pricing-2">
					<div class="kt-pricing-2__head">
						<div class="kt-pricing-2__title kt-font-light">
							<h1>Transparent & Simple Pricing</h1>
						</div>
						<div class="btn-group nav btn-group btn-group-pill btn-group-air" role="group">
							<button type="button" class="btn btn-pill  active btn-wide btn-uppercase btn-bolder" data-toggle="tab" href="#kt-pricing-2_content1" role="tab" aria-expanded="true">
								Annual Plans
							</button>
							<button type="button" class="btn btn-pill  btn-wide btn-uppercase btn-bolder" data-toggle="tab" href="#kt-pricing-2_content2" role="tab" aria-expanded="false">
								Monthly Plans
							</button>
						</div>
					</div>
					<div class="tab-content">
						<div class="tab-pane active" id="kt-pricing-2_content1" aria-expanded="true">
							<div class="kt-pricing-2__content">
								<div class="kt-pricing-2__container">
									<div class="kt-pricing-2__items row">
										<div class="kt-pricing-2__item col-lg-4">
											<div class="kt-pricing-2__visual">
												<div class="kt-pricing-2__hexagon"></div>
												<span class="kt-pricing-2__icon kt-font-info"><i class="fa flaticon-confetti"></i></span>
											</div>
											<h2 class="kt-pricing-2__subtitle">Basic Plan</h2>
											<div class="kt-pricing-2__features">
												<span>1 Domain</span>
												<span>10 Users</span>
												<span>20 Copies</span>
												<span>Free Assets</span>
											</div>
											<span class="kt-pricing-2__price">69</span>
											<span class="kt-pricing-2__label">$</span>
											<div class="kt-pricing-2__btn">
												<button type="button" class="btn btn-pill  btn-info btn-wide btn-uppercase btn-bolder btn-lg">Purchase</button>
											</div>
										</div>
										<div class="kt-pricing-2__item col-lg-4">
											<div class="kt-pricing-2__visual">
												<div class="kt-pricing-2__hexagon"></div>
												<span class="kt-pricing-2__icon kt-font-info"><i class="fa  flaticon-rocket"></i></span>
											</div>
											<h2 class="kt-pricing-2__subtitle">For Business</h2>
											<div class="kt-pricing-2__features">
												<span>10 Domains</span>
												<span>Unlimited Users</span>
												<span>Unlimited Copies</span>
												<span>Free Assets</span>
											</div>
											<span class="kt-pricing-2__price">169</span>
											<span class="kt-pricing-2__label">$</span>
											<div class="kt-pricing-2__btn">
												<button type="button" class="btn btn-pill  btn-info btn-wide btn-uppercase btn-bolder btn-lg">Purchase</button>
											</div>
										</div>
										<div class="kt-pricing-2__item col-lg-4">
											<div class="kt-pricing-2__visual">
												<div class="kt-pricing-2__hexagon"></div>
												<span class="kt-pricing-2__icon kt-font-info"><i class="fa flaticon-gift"></i></span>
											</div>
											<h2 class="kt-pricing-2__subtitle">Enterprice</h2>
											<div class="kt-pricing-2__features">
												<span>Unlimited Domain</span>
												<span>Unlimited Users</span>
												<span>Unlimited Copies</span>
												<span>Free Assets</span>
											</div>
											<span class="kt-pricing-2__price">669</span>
											<span class="kt-pricing-2__label">$</span>
											<div class="kt-pricing-2__btn">
												<button type="button" class="btn btn-pill  btn-info btn-wide btn-uppercase btn-bolder btn-lg">Purchase</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="kt-pricing-2_content2" aria-expanded="false">
							<div class="kt-pricing-2__content">
								<div class="kt-pricing-2__container">
									<div class="kt-pricing-2__items row">
										<div class="kt-pricing-2__item col-lg-4">
											<div class="kt-pricing-2__visual">
												<div class="kt-pricing-2__hexagon"></div>
												<span class="kt-pricing-2__icon kt-font-info"><i class="fa flaticon-confetti"></i></span>
											</div>
											<h2 class="kt-pricing-2__subtitle">Basic Plan</h2>
											<div class="kt-pricing-2__features">
												<span>1 Domain</span>
												<span>10 Users</span>
												<span>20 Copies</span>
												<span>Free Assets</span>
											</div>
											<span class="kt-pricing-2__price">19</span>
											<span class="kt-pricing-2__label">$</span>
											<div class="kt-pricing-2__btn">
												<button type="button" class="btn btn-pill  btn-info btn-wide btn-uppercase btn-bolder btn-lg">Purchase</button>
											</div>
										</div>
										<div class="kt-pricing-2__item col-lg-4">
											<div class="kt-pricing-2__visual">
												<div class="kt-pricing-2__hexagon"></div>
												<span class="kt-pricing-2__icon kt-font-info"><i class="fa  flaticon-rocket"></i></span>
											</div>
											<h2 class="kt-pricing-2__subtitle">For Business</h2>
											<div class="kt-pricing-2__features">
												<span>10 Domains</span>
												<span>Unlimited Users</span>
												<span>Unlimited Copies</span>
												<span>Free Assets</span>
											</div>
											<span class="kt-pricing-2__price">49</span>
											<span class="kt-pricing-2__label">$</span>
											<div class="kt-pricing-2__btn">
												<button type="button" class="btn btn-pill  btn-info btn-wide btn-uppercase btn-bolder btn-lg">Purchase</button>
											</div>
										</div>
										<div class="kt-pricing-2__item col-lg-4">
											<div class="kt-pricing-2__visual">
												<div class="kt-pricing-2__hexagon"></div>
												<span class="kt-pricing-2__icon kt-font-info"><i class="fa flaticon-gift"></i></span>
											</div>
											<h2 class="kt-pricing-2__subtitle">Enterprice</h2>
											<div class="kt-pricing-2__features">
												<span>Unlimited Domain</span>
												<span>Unlimited Users</span>
												<span>Unlimited Copies</span>
												<span>Free Assets</span>
											</div>
											<span class="kt-pricing-2__price">29</span>
											<span class="kt-pricing-2__label">$</span>
											<div class="kt-pricing-2__btn">
												<button type="button" class="btn btn-pill  btn-info btn-wide btn-uppercase btn-bolder btn-lg">Purchase</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--end::Portlet-->
	</div>

	<!-- end:: Content -->
</div>
{% endblock content %}
