{% extends 'base.html' %}
{% block title %}Insurance Details {% endblock title %}

{% block content %}
<!-- begin:: Content Head -->
						<div class="kt-subheader   kt-grid__item" id="kt_subheader">
							<div class="kt-subheader__main">
								<h3 class="kt-subheader__title">
									Insurance Details </h3>
								<span class="kt-subheader__separator kt-hidden"></span>
								<div class="kt-subheader__breadcrumbs">
									<a href="user_dash/user_dashbord.html" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
									<span class="kt-subheader__breadcrumbs-separator"></span>
									<a  class="kt-subheader__breadcrumbs-link">
										Insurance </a>
									<span class="kt-subheader__breadcrumbs-separator"></span>
									<a href="user_dash/insurance/insurance-details.html" class="kt-subheader__breadcrumbs-link">
										Insurance Details</a>
									<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
								</div>
							</div>
						</div>

						<!-- end:: Content Head -->
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
							<div class="kt-portlet kt-portlet--tabs">
								<div class="kt-portlet__body">
									<div class="tab-content">
											<p class="text-muted mb-0">
												<h5 class="kt-section__title kt-section__title-lg">Insurance Details: </h5>
												<label></label>
												{% if no_records %}
												<center>NO Rocords Found</center>
												{% else %}
												<dl class="row mb-0">
													<dt class="col-sm-5">ID</dt><dd class="col-sm-7">#203045</dd>
													<dt class="col-sm-5">Insurance ID:</dt><dd class="col-sm-7">{{ ins_data.insurance_id }}</dd>
													<dt class="col-sm-5">Policy No: </dt><dd class="col-sm-7">{{ ins_data.policy_no }}</dd>
													<dt class="col-sm-5">Insurance Type:</dt><dd class="col-sm-7">{{ ins_data.insurance_type }}</dd>
													<dt class="col-sm-5">carrier Type:</dt><dd class="col-sm-7">{{ ins_data.carrier_type }}</dd>
													<dt class="col-sm-5">Start Date Stop Date </dt><dd class="col-sm-7">{{ ins_data.startdate}}  {{ ins_data.enddate }}</dd>
													<dt class="col-sm-5">Insurance Carry Code: </dt><dd class="col-sm-7">{{ ins_data.insurance_carrycode }}</dd>
													<dt class="col-sm-5">Insurance Copy</dt><dd class="col-sm-7"><a href="{{ins_data.insurance_doc.url}}" target="_blank_" > <button type="button" onclick="sdffds/dsfsd"class="btn btn-outline-hover-info btn-elevate btn-pill"><i class="flaticon-eye"></i>View Document</button></a>&nbsp;</dd>													</dd>
												</dl>
												{% endif %}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
{% endblock content %}
