{% extends 'user_settings/user_setting_base.html' %}

{% block user_profile_content %}
<!--Begin:: App Content-->
<div class="kt-grid__item kt-grid__item--fluid kt-app__content">
	<div class="row">
		<div class="col-xl-12">
			<div class="kt-portlet">
				<div class="kt-portlet__head">
					<div class="kt-portlet__head-label">
						<h3 class="kt-portlet__head-title">Bike Information <small>update your bike information</small></h3>
					</div>
				</div>
				<form class="kt-form kt-form--label-right" method="post" enctype="multipart/form-data">
					 {% csrf_token %}
					<div class="kt-portlet__body">
						<div class="kt-section kt-section--first">
							<div class="kt-section__body">
								<div class="row">
									<label class="col-xl-3"></label>
									<div class="col-lg-9 col-xl-6">
										<h3 class="kt-section__title kt-section__title-sm">Bike Information</h3>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Bike Model Name</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="{{Bike_Model_Name}}" name="Bike_Model_Name">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">User Name</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="{{Email}}" name="">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Bike No</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="{{Bike_No}}" name="Bike_No">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Bike Reg_No</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="{{Bike_Reg_No}}" name="Bike_Reg_No">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Licence No</label>
									<div class="col-lg-9 col-xl-6">
										<input class="form-control" type="text" value="{{Licence_No}}" name="Licence_No">
									</div>
								</div>
								<div class="form-group row">
									<label class="col-xl-3 col-lg-3 col-form-label">Upload your Licence</label>
									<div class="col-lg-9 col-xl-6">
										<div class="custom-file" >
											<input type="file" class="custom-file-input" id="customFile" name="Licence" required>
											<label class="custom-file-label" for="customFile">Choose file</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{{msg}}
					<div class="kt-portlet__foot">
						<div class="kt-form__actions">
							<div class="row">
								<div class="col-lg-3 col-xl-3">
								</div>
								<div class="col-lg-9 col-xl-9">
									<button type="submit" class="btn btn-success">Submit</button>&nbsp;
									<button type="reset" class="btn btn-secondary">Cancel</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

<!--End:: App Content-->
</div>
{% endblock user_profile_content %}
