{% extends 'base.html' %}

{% block content %}
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title">
			Invoice </h3>
		<span class="kt-subheader__separator kt-hidden"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="user_dash/user_dashbord.html" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a href="user_dash/login_pages/invoice-2.html" class="kt-subheader__breadcrumbs-link">
				Invoice</a>

			<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
		</div>
	</div>
</div>

<!-- end:: Content Head -->

<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-lg-12">
			<div class="kt-portlet">
				<div class="kt-portlet__body kt-portlet__body--fit">
					<div class="kt-invoice-2">
						<div class="kt-invoice__wrapper">
							<div class="kt-invoice__head">
								<div class="kt-invoice__container kt-invoice__container--centered">
									<div class="kt-invoice__logo">
										<a href="#">
											<h1>INVOICE</h1>
										</a>

									</div>
									<span class="kt-invoice__desc">
										<span>Cecilia Chapman, 711-2880 Nulla St, Mankato</span>
										<span>Mississippi 96522</span>
									</span>
									<div class="kt-invoice__items">
										<div class="kt-invoice__item">
											<span class="kt-invoice__subtitle">DATA</span>
											<span class="kt-invoice__text">Dec 12, 2017</span>
										</div>
										<div class="kt-invoice__item">
											<span class="kt-invoice__subtitle">INVOICE NO.</span>
											<span class="kt-invoice__text">GS 000014</span>
										</div>
										<div class="kt-invoice__item">
											<span class="kt-invoice__subtitle">INVOICE TO.</span>
											<span class="kt-invoice__text">Iris Watson, P.O. Box 283 8562 Fusce RD.<br>Fredrick Nebraska 20620</span>
										</div>
									</div>
								</div>
							</div>
							<div class="kt-invoice__body kt-invoice__body--centered">
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>DESCRIPTION</th>
												<th>HOURS</th>
												<th>RATE</th>
												<th>AMOUNT</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>Creative Design</td>
												<td>80</td>
												<td>$40.00</td>
												<td class="kt-font-danger">$3200.00</td>
											</tr>
											<tr>
												<td>Front-End Development</td>
												<td>120</td>
												<td>$40.00</td>
												<td class="kt-font-danger">$4800.00</td>
											</tr>
											<tr>
												<td>Back-End Development</td>
												<td>210</td>
												<td>$60.00</td>
												<td class="kt-font-danger">$12600.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="kt-invoice__footer">
								<div class="kt-invoice__table  kt-invoice__table--centered table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>BANK</th>
												<th>ACC.NO.</th>
												<th>DUE DATE</th>
												<th>TOTAL AMOUNT</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>BARCLAYS UK</td>
												<td>12345678909</td>
												<td>Jan 07, 2018</td>
												<td class="kt-font-danger">20,600.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
