{% extends 'base.html' %}

{% block content %}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title">Dashboard</h3>
		<span class="kt-subheader__separator kt-subheader__separator--v"></span>
	</div>
</div>

<!-- end:: Content Head -->

						<!-- begin:: Content -->
						<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
	<div class="row">
		<div class="col-xl-12">
												<div class="kt-portlet kt-portlet--tab">
														<div class="kt-portlet__head">
																<div class="kt-portlet__head-label">
																		<span class="kt-portlet__head-icon kt-hidden">
																				<i class="la la-gear"></i>
																		</span>
																		<h3 class="kt-portlet__head-title">
																		MAP
																		</h3>
																</div>
														</div>
														<div class="kt-portlet__body">
															<div style="width: 100%"><iframe width="100%" height="400" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=aurnagabad%2Cmaharshtra%2Cindia+(Track%20Your%20Vehicle)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/draw-radius-circle-map/">km radius map</a></iframe></div><br />

						</div>
						<div class="row">
						<div class="col-lg-7">
							<div class="kt-portlet">
								<div class="kt-portlet__head">
										<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
														Notifications
												</h3>
										</div>
								</div>
								<div class="kt-portlet__body">

										<!--begin::Section-->
										<div class="kt-section">

												<div class="kt-section__content">
				<div class="alert alert-info alert-dismissible fade show" role="alert">
																<button type="button" class="close" data-dismiss="alert" aria-label="Close">
																		<span aria-hidden="true"><i class="mdi mdi-close"></i></span>
																</button>
																<strong>Oh snap!</strong> Change a few things up and try submitting again.
														</div>
												</div>
												<div class="kt-section__content">
														<div class="alert alert-warning alert-dismissible fade show" role="alert">
																<button type="button" class="close" data-dismiss="alert" aria-label="Close">
																		<span aria-hidden="true"><i class="mdi mdi-close"></i></span>
																</button>
																<strong>Oh snap!</strong> Change a few things up and try submitting again.
														</div>
												</div>
												<div class="kt-section__content">
														<div class="alert alert-danger alert-dismissible fade show" role="alert">
																<button type="button" class="close" data-dismiss="alert" aria-label="Close">
																		<span aria-hidden="true"><i class="mdi mdi-close"></i></span>
																</button>
																<strong>Oh snap!</strong> Change a few things up and try submitting again.
														</div>
												</div>
										</div>
										<!--end::Section-->
								</div>
							</div>
						</div>
						<div class="col-lg-5">
								<div class="kt-portlet">
										<div class="kt-portlet__head">
												<div class="kt-portlet__head-label">
														<h3 class="kt-portlet__head-title">
																Attached Device
														</h3>
												</div>
										</div>
										<div class="kt-portlet__body">
												<ul class="nav nav-tabs" role="tablist">
														<li class="nav-item">
																<a class="nav-link active" data-toggle="tab" href="#kt_tabs_1_1">
																		<i class="la la-mobile-phone"></i> Device 1
																</a>
														</li>
														<li class="nav-item">
																<a class="nav-link" data-toggle="tab" href="#kt_tabs_1_2">
																		<i class="la la-mobile-phone"></i> Device 2
																</a>
														</li>
														<li class="nav-item">
																<a class="nav-link" data-toggle="tab" href="#kt_tabs_1_3">
																		<i class="la la-mobile-phone"></i> Device 3
																</a>
														</li>
												</ul>
												<div class="tab-content">
														<div class="tab-pane active" id="kt_tabs_1_1" role="tabpanel">
					<p class="text-muted mb-0">
						<dl class="row mb-0">
							<dt class="col-sm-5">DEVICE NAME</dt>
							<dd class="col-sm-7">MI Note 6 Pro</dd>

							<dt class="col-sm-5">DEVICE NO</dt>
							<dd class="col-sm-7">IMMI21654146511</dd>
							<dt class="col-sm-5">VALID TILL</dt>
							<dd class="col-sm-7">10/08/2021</dd>

							<dt class="col-sm-5 text-truncate">PACKAGE</dt>
							<dd class="col-sm-7">Silver</d>
						</dl>
					</p>
														</div>
														<div class="tab-pane" id="kt_tabs_1_2" role="tabpanel">
					<p class="text-muted mb-0">
						<dl class="row mb-0">
							<dt class="col-sm-5">DEVICE NAME</dt>
							<dd class="col-sm-7">MI Note 8 Pro</dd>

							<dt class="col-sm-5">DEVICE NO</dt>
							<dd class="col-sm-7">IMMI21654146511</dd>
							<dt class="col-sm-5">VALID TILL</dt>
							<dd class="col-sm-7">10/08/2021</dd>

							<dt class="col-sm-5 text-truncate">PACKAGE</dt>
							<dd class="col-sm-7">Silver</d>
						</dl>
					</p>
				</div>
														<div class="tab-pane" id="kt_tabs_1_3" role="tabpanel">
					<p class="text-muted mb-0">
						<dl class="row mb-0">
							<dt class="col-sm-5">DEVICE NAME</dt>
							<dd class="col-sm-7">MI Note 10 Pro</dd>

							<dt class="col-sm-5">DEVICE NO</dt>
							<dd class="col-sm-7">IMMI21654146511</dd>
							<dt class="col-sm-5">VALID TILL</dt>
							<dd class="col-sm-7">10/08/2021</dd>

							<dt class="col-sm-5 text-truncate">PACKAGE</dt>
							<dd class="col-sm-7">Silver</d>
						</dl>
					</p>
				</div>
														<div class="tab-pane" id="kt_tabs_1_4" role="tabpanel">
																Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
														</div>
												</div>
										</div>
								</div>
						</div>
						</div>
<!-- end:: Content -->
</div>

{% endblock content %}
