{% extends 'base.html' %}
{% load static %}
{% block title %} Insurance Guidlines {% endblock title %}

{% block content %}
		 
<!-- begin:: Content Head -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
	<div class="kt-subheader__main">
		<h3 class="kt-subheader__title">
			Guidlines </h3>
		<span class="kt-subheader__separator kt-hidden"></span>
		<div class="kt-subheader__breadcrumbs">
			<a href="user_dash/user_dashbord.html" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a href="" class="kt-subheader__breadcrumbs-link">
				Insurance</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a  class="kt-subheader__breadcrumbs-link">
				Claim Process</a>
			<span class="kt-subheader__breadcrumbs-separator"></span>
			<a href="{% url 'Insurance:insurance_guidlines' %}" class="kt-subheader__breadcrumbs-link">
				Guidlines</a>
			<!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
		</div>
	</div>
</div>

<!-- end:: Content Head -->

<!-- begin:: Content -->
<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">

	<!--Begin::Portlet-->
	<div class="kt-portlet">
		<div class="kt-portlet__head">
			<div class="kt-portlet__head-label">
				<h2 class="kt-portlet__head-title">
					GUIDELINES TO TWO-WHEELER INSURANCE
				</h2>
			</div>
		</div>
		<div class="kt-portlet__body">
			<div class="row">
				<div class="col-xl-1">
				</div>
				<div class="col-xl-10">
					<div class="kt-timeline-v1">
						<div class="kt-timeline-v1__items">
							<div class="kt-timeline-v1__marker"></div>
							<div class="kt-timeline-v1__item kt-timeline-v1__item--left">
								<div class="kt-timeline-v1__item-circle">
									<div class="kt-bg-danger"></div>
								</div>
								<div class="kt-timeline-v1__item-content">
									<div class="kt-timeline-v1__item-title">
										To make it easier for you, we have listed down a few guidelines which will help you
									</div>
									<div class="kt-timeline-v1__item-body kt-padding-t-10 kt-padding-b-10">
										<div class="kt-widget4">
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/one.svg' %}" alt="">
												</div>
												<a  class="kt-widget4__title">
													Third-party insurance for 5 years is mandatory
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/two.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Coverage against class or two-wheeler
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/three.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Save on your third-party bike
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/four.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Not everyone knows that premium rate for third-party</br>
													bike keeps increasing every year
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/five.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Always able to strike a good deal
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="kt-timeline-v1__item kt-timeline-v1__item--left">
								<div class="kt-timeline-v1__item-circle">
									<div class="kt-bg-danger"></div>
								</div>
								<span class="kt-timeline-v1__item-time kt-font-brand"><span></span></span>
								<div class="kt-timeline-v1__item-content">
									<div class="kt-timeline-v1__item-title">
										HOW WE ASSIST YOU
									</div>
									<div class="kt-timeline-v1__item-body kt-padding-t-10 kt-padding-b-10">
										<div class="kt-widget4">
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/online.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Buying insurance online
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/Compare.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Compare quote premium amount
												</a>
												<div class="kt-widget4__tools">
													<a class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/Purchase.svg' %}" alt="">
												</div>
												<a  class="kt-widget4__title">
													Purchase a stand-alone third-party
												</a>
												<div class="kt-widget4__tools">
													<a  class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/safety.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Policy for further safety
												</a>
												<div class="kt-widget4__tools">
													<a  class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="kt-timeline-v1__item kt-timeline-v1__item--left">
								<div class="kt-timeline-v1__item-circle">
									<div class="kt-bg-danger"></div>
								</div>
								<span class="kt-timeline-v1__item-time kt-font-brand"><span></span></span>
								<div class="kt-timeline-v1__item-content">
									<div class="kt-timeline-v1__item-title">
										DOCUMENTS REQUIRED
									</div>
									<div class="kt-timeline-v1__item-body kt-padding-t-10 kt-padding-b-10">
										<div class="kt-widget4">
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/one.svg' %}" alt="">
												</div>
												<a  class="kt-widget4__title">
													FIR (Copy)
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/two.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Insurance Policy (Copy)
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/three.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Claim Form (Filled)
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/four.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Driving Licence (Copy)
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/five.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Detailed estimate of repair of two-wheeler
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/six.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Medical Receipt
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
											<div class="kt-widget4__item">
												<div class="kt-widget4__pic kt-widget4__pic--icon">
													<img src="{% static 'assets/media/files/seven.svg' %}" alt="">
												</div>
												<a class="kt-widget4__title">
													Original record of hospital bill (In case of serious injuries)
												</a>
												<div class="kt-widget4__tools">
													<a href="#" class="btn btn-clean btn-icon btn-sm">
														<i class="flaticon2-download-symbol-of-down-arrow-in-a-rectangle"></i>
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kt-portlet">
		<div class="kt-portlet__head">
			<div class="kt-portlet__head-label">
				<h3 class="kt-portlet__head-title">
					BUY INSURANCE FROM OUR PARTNERS
				</h3>
			</div>
		</div>
		<div class="card">
												<div class="kt-portlet__body">
														<div class="row container-grid nf-col-3  projects-wrapper">
																<div class="col-lg-4 col-md-6 p-0 nf-item branding design coffee spacing">
																		<div class="item-box">
																				<a class="cbox-gallary1 mfp-image" href="https://www.hdfcergo.com/two-wheeler-insurance">
																						<img class="item-container " src="{% static 'assets/media/company-logos/hdfc.png' %}" alt="7" />
																						<div class="item-mask">
																								<div class="item-caption">
																										<h5 class="text-black-50 ">HDFC Ergo Two Wheeler Insurance</h5>
																										<p class="text-light"></p>
																								</div>
																						</div>
																				</a>
																		</div><!--end item-box-->
																</div><!--end col-->

																<div class="col-lg-4 col-md-6 p-0 nf-item photo spacing">
																		<div class="item-box">
																				<a class="cbox-gallary1 mfp-image" href="https://nationalinsurance.nic.co.in/en/motor-insurance/two-wheeler" title="Vivamus elementum semper">
																						<img class="item-container mfp-fade" src="{% static 'assets/media/company-logos/national.jpeg' %}" alt="2" />
																						<div class="item-mask">
																								<div class="item-caption">
																										<h5 class="text-black-50 ">National Insurance Two Wheeler Insurance</h5>

																								</div>
																						</div>
																				</a>
																		</div><!--end item-box-->
																</div><!--end col-->

																<div class="col-lg-4 col-md-6 p-0 nf-item branding coffee spacing">
																		<div class="item-box">
																				<a class="cbox-gallary1 mfp-image" href="https://www.icicilombard.com/motor-insurance/two-wheeler-insurance" title="Quisque rutrum">
																						<img class="item-container" src="{% static 'assets/media/company-logos/icici.jpeg' %}" alt="4" />
																						<div class="item-mask">
																								<div class="item-caption">
																										<h5 class="text-black-50 ">ICICI Lombard Two Wheeler Insurance</h5>

																								</div>
																						</div>
																				</a>
																		</div><!--end item-box-->
																</div><!--end col-->

																<div class="col-lg-4 col-md-6 p-0 nf-item branding design spacing">
																		<div class="item-box">
																				<a class="cbox-gallary1 mfp-image" href="https://www.bharti-axagi.co.in/two-wheeler-insurance" title="Tellus eget condimentum">
																						<img class="item-container" src="{% static 'assets/media/company-logos/bharti.jpg' %}" alt="5" />
																						<div class="item-mask">
																								<div class="item-caption">
																										<h5 class="text-black-50">Bharti AXA Two Wheeler Insurance </h5>

																								</div>
																						</div>
																				</a>
																		</div><!--end item-box-->
																</div><!--end col-->

																<div class="col-lg-4 col-md-6 p-0 nf-item branding design spacing">
																		<div class="item-box">
																				<a class="cbox-gallary1 mfp-image" href="https://www.tataaig.com/motor-insurance/two-wheeler-insurance" title="Nullam quis ant">
																						<img class="item-container" src="{% static 'assets/media/company-logos/tata.png' %}" alt="6" />
																						<div class="item-mask">
																								<div class="item-caption">
																										<h5 class="text-black-50">Tata AIG Two Wheeler Insurance </h5>

																								</div>
																						</div>
																				</a>
																		</div><!--end item-box-->
																</div><!--end col-->

																<div class="col-lg-4 col-md-6 p-0 nf-item photo spacing">
																		<div class="item-box">
																				<a class="cbox-gallary1 mfp-image" href="https://www.bajajallianz.com/motor-insurance/two-wheeler-insurance-online.html" title="Sed fringilla mauris">
																						<img class="item-container" src="{% static 'assets/media/company-logos/bajaj.jpeg' %}" alt="8" />
																						<div class="item-mask">
																								<div class="item-caption">
																										<h5 class="text-black-50">Bajaj Allianz Two Wheeler Insurance </h5>

																								</div>
																						</div>
																				</a>
																		</div><!--end item-box-->
																</div><!--end col-->
														</div><!--end row-->
												</div><!--end card-body-->
										</div>
	</div>
</div>
{% endblock content %}
